In [156]:
import pandas as pd

In [157]:
#load the datset

In [158]:
df_cars = pd.read_csv('/Users/deekshithm/Desktop/PDS/Assignment 2/raw_cars_data/raw_cars.csv')

In [159]:
df_cars

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [160]:
# Checking for missing values in the entire dataset
missing_values = df_cars.isnull().sum()

In [161]:
# List the variables with numeric datatype that has missing values
missing_vars_numeric = list(missing_values[missing_values > 0].index)

In [162]:
# Display the number of missing values for  columns with numeric datatype
print(missing_values)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [163]:
# Identify and count missing values in columns that has character datatype
missing_values_character = df_cars.select_dtypes(include=['object']).isnull().sum()

In [164]:
# Display the number of missing values in columns that has character datatype
print(missing_values_character)

Name               0
Location           0
Fuel_Type          0
Transmission       0
Owner_Type         0
Mileage            2
Engine            36
Power             36
New_Price       5032
dtype: int64

In [165]:
#b.Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”). 
# Cleaning non-numeric values in the specified columns before imputing them with mean, meadin or mode
df_cars['Mileage'] = df_cars['Mileage'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_cars['Engine'] = df_cars['Engine'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_cars['Power'] = df_cars['Power'].str.replace('[^0-9.]', '', regex=True).astype(float)
df_cars['New_Price'] = df_cars['New_Price'].str.replace('[^0-9.]', '', regex=True).astype(float)

In [166]:
# Print the summary of the data
print(df_cars.describe())

        Unnamed: 0         Year  Kilometers_Driven      Mileage       Engine  \
count  5847.000000  5847.000000       5.847000e+03  5845.000000  5811.000000
mean   3013.181461  2013.448435       5.841013e+04    18.158496  1631.552573
std    1736.398890     3.194949       9.237971e+04     4.358246   601.972587
min       1.000000  1998.000000       1.710000e+02     0.000000    72.000000
25%    1509.500000  2012.000000       3.346750e+04    15.260000  1198.000000
50%    3015.000000  2014.000000       5.257600e+04    18.190000  1497.000000
75%    4517.500000  2016.000000       7.249050e+04    21.100000  1991.000000
max    6018.000000  2019.000000       6.500000e+06    28.400000  5998.000000

             Power        Seats   New_Price        Price
count  5811.000000  5809.000000  815.000000  5847.000000
mean    113.803144     5.286452   20.484564     9.653742
std      53.896719     0.806668   20.248764    11.275966
min      34.200000     2.000000    1.000000     0.440000
25%      78.000000     5.000000    7.880000     3.550000
50%      98.600000     5.000000   11.480000     5.750000
75%     139.010000     5.000000   24.015000    10.250000
max     560.000000    10.000000   99.920000   160.000000

In [167]:
# Drop the first column which is just a row number
df_cars = df_cars.iloc[:, 1:]

In [168]:
# Drop the "New_Price" column because it has more than 50% missing values
df_cars = df_cars.drop('New_Price', axis=1)

In [169]:
# Impute missing values with the mean for numeric columns
numeric_cols = df_cars.select_dtypes(include=['float64', 'int64']).columns
df_cars[numeric_cols] = df_cars[numeric_cols].fillna(df_cars[numeric_cols].mean())

In [170]:
# Round all numeric values to two decimal places
df_cars[numeric_cols] = df_cars[numeric_cols].apply(lambda x: x.round(2))

In [171]:
# Impute missing values with the mode for character columns
character_cols = df_cars.select_dtypes(include=['object']).columns
df_cars[character_cols] = df_cars[character_cols].fillna(df_cars[character_cols].mode().iloc[0])

In [172]:
# Verify that missing values have been correctly imputed
missing_values_handle = df_cars.isnull().sum()
print(missing_values_handle)

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [173]:
# Write the cleaned data to a new file
df_cars.to_csv("/Users/deekshithm/Desktop/PDS/Assignment 2/clean_cars_data/clean_cars_data.csv", index=False)